@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin: 0;
  overflow-x: hidden;
  perspective: 1px;
}

body > section {
  height: 100vh;
  scroll-snap-align: end;
}

header {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  padding-left: 5rem;
}
header .navlinks {
  padding-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navlinks > a {
  color: black;
  padding-right: 2rem;
}
header .navlinks > a:not(:last-child) {
  height: 2rem;
  width: 5rem;
  transition: 0.2s ease;
}
header .navlinks > a:not(:last-child):hover {
  text-shadow: 2px 2px 2px #949494;
}
header .navlinks .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  width: 6rem;
  background-color: #7d9bff;
  border-radius: 10px;
  background: linear-gradient(to right, #7d9bff 50%, #d68fff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  border-radius: 10px;
  transition: all 0.8s ease;
}
header .navlinks .signup:hover {
  background-position: right bottom;
}

.homepage {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .hometext {
  width: 45vw;
  padding-left: 15vw;
  padding-top: 3vh;
  position: relative;
}
.homepage .openinglink {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 15vw;
  margin-top: 5%;
  width: 15rem;
  height: 3.75rem;
  background: linear-gradient(to right, #7d9bff 50%, #d68fff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  border-radius: 10px;
  transition: all 0.8s ease;
}
.homepage .openinglink:hover {
  background-position: right bottom;
}
.homepage .page1pic {
  height: 90vh;
}

footer {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .contact {
  padding-right: 5vw;
  padding-bottom: 8vh;
}

.page2 {
  height: 100vh;
  background-color: #ececec;
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: 10vh 45vh 45vh;
  justify-content: center;
  align-items: center;
}
.page2 .lefttitle {
  font-size: 150%;
  padding-left: 6vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.page2 .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 2vh;
  margin: auto;
  width: 20vw;
  height: 40vh;
  background-color: #d68fff;
  border-radius: 10px;
  transition: 0.4s ease;
}
.page2 .content p {
  width: 15vw;
  height: 15vh;
  text-align: center;
  font-size: 75%;
}
.page2 .content:hover {
  box-shadow: 10px 25px 50px rgba(0, 0, 0, 0.5);
  transform: translateZ(1px) scale(1.1);
}
.page2 .content--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.page2 .content--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.page2 .content--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.page2 .content--4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.page2 .content--5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.page2 .content--6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.page2 .gridimages {
  width: 13vw;
  height: 13vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.page3 {
  height: 100vh;
  width: 100vw;
}
.page3 .testitle {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3 .testitle h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2em;
}
.page3 .testicards {
  overflow-x: auto;
  width: 99vw;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5vw;
  scrollbar-color: #7d9bff #d68fff;
}
.page3 .testicards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: center;
  min-width: 60vw;
  height: 50vh;
  border-radius: 10px;
  background-color: #ececec;
  flex: 0 0 auto;
  margin-bottom: 5vh;
}
.page3 .testicards .card:first-child {
  margin-left: 19vw;
}
.page3 .testicards .card:last-child {
  margin-right: 19vw;
}
.page3 .testicards .card .testitext {
  width: 55vw;
  text-align: center;
  padding-top: 10vh;
}
.page3 .testicards .card .person {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 15vw;
  padding-top: 10vh;
}
.page3 .testicards .card .person .people {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  min-width: 4em;
}
.page3 .testicards .card .person .name {
  margin-left: 2vw;
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */